*{
  margin: 0;
  padding: 0;
  font-size: 28px;
}
body{
  background-image: url(img/backgroundImg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#backgorundBlackOpacity{
  background-color: rgba(0, 0, 0, 0.582);
}
/* header styling */
#header{
  margin-bottom: 0.08em;
  background-color: rgb(25, 42, 43);
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.menuSection{
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.menuSection li{
  width: 100%;
  text-align: center;
}
.menuSection li a{
  text-decoration: none;
  color: #af9595b7;
  transition: all .3s ease-in-out;
}
.menuSection li a:hover{
  letter-spacing: .1em;
  color: #9c1e1edc;
}

/* burger menu section */
.burgerMenu {
  position: absolute;
  top: .3em;
  right: .3em;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 45px;
  height: 5px;
  border-radius: .1em;
  margin: 0.1em;
  background-color: #af9595b7;
  transition: 0.4s;
}

.change .bar1 {
  /* -webkit-transform: rotate(-45deg) translate(-9px, 6px); */
  transform: rotate(-45deg) translate(-.25em,.20em);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  /* -webkit-transform: rotate(45deg) translate(-8px, -8px); */
  transform: rotate(45deg) translate(-.25em, -.25em);
}

@media (max-width: 860px) {
  header{
    width: 100%;
    position: fixed;
    float: inline-start;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #header{
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .menuSection{
    position: fixed;
    top: -110%;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(23, 24, 23, 0.842);
    transition: .3s;
    gap: 1em;
  }
  .menuSection li{
    text-align: center;
  }
  .menuSection li a{
    font-size: .65em;
  }
  .menuSection li a:hover{
    font-size: .85em;
  }
  .active{
    top: 0;
    height: 100%;
  }
  .burgerMenu{
    display: flex;
  }
}

/* main body styling */
.allSections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.allSections > div{
  margin: .15em;
  padding: .4em;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #0d1820cb 4px ), repeating-linear-gradient( #14221355, #14201360 );
  border: 2px solid black;
  border-radius: 20px;

  box-shadow: 5px 5px 5px 0px #0000009f, inset 4px 4px 15px 0px #7b817ea6, 5px 5px 15px 5px rgba(255,20,20,0);


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

}
.allSections > div > h2{
  color: #963d41dc;
  font-size: 40px;
  text-align: center;
}
.allSections > div > p{
  color: #cfd8d8ad;
  letter-spacing: 1.5px;
  line-height: 16px;
  font-size: 18px;
}
.space{
  padding-left: 5px;
}
@media (max-width: 860px){
  .allSections{
    margin-top: 40px;
    padding-top: 10px;
  }
}